/* Fonts from Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Source+Serif+Pro:wght@300;400;600&display=swap");

/* Clear browser default padding and margins */
* {
  margin: 0;
  padding: 0;
}

/* Default body styles */
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  letter-spacing: 1.2px;
}

/* Header and nav font */
h1,
h2,
.nav-link {
  font-family: "Source Serif Pro", serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem;
}

/* Center content in div */
.text-center {
  display: flex;
  justify-content: center;
}

.logo,
.intro,
.nav {
  background-color: #e4ff58;
}

/* Navigation */
.nav {
  padding: 1rem;
  border-top: 1px solid #fff;
}

.nav-link {
  margin: 1rem;
  padding: 0.3rem;
  text-decoration: none;
  color: #ff368c;
  border-bottom: 1px solid #ff368c;
  border-radius: 10px;
  text-shadow: 1px 1px #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:active {
  color: #000;
  background-color: #ff368c;
}

.container {
  position: relative;
  color: #fff;
}

.hero-image {
  padding: 0.5rem;
  border-radius: 20px;
}

.intro-text {
  position: absolute;
  top: 40%;
  left: 20%;
  text-transform: uppercase;
  text-shadow: 1px 1px #ff368c;
}

/* Make columns*/
/* code snippet from https://www.w3schools.com/howto/howto_css_two_columns.asp  */
.column-2 {
  float: left;
  width: 50%;
}

.column-3 {
  float: left;
  width: 33.33%;
}

.column-4 {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
footer {
  background-color: #e4ff58;
  height: 100px;
}

.social-links a {
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
  font-size: 1.8rem;
}

.social-links li {
  display: inline;
}
