/* Fonts from Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Source+Serif+Pro:wght@300;400;600&display=swap");

/* Clear browser default padding and margins */
* {
  margin: 0;
  padding: 0;
}

/* Default body styles */
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  letter-spacing: 1.2px;
}

/* Header and nav text styling */
h1,
h2,
h3,
.nav-link {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Center content in div */
.text-center {
  display: flex;
  justify-content: center;
}

/* Header */
.logo,
.intro,
.nav {
  background-color: #e4ff58;
}

/* Navigation */
.nav {
  padding: 1rem;
  border-top: 1px solid #fff;
}

.nav-link {
  margin: 1rem;
  padding: 0.3rem;
  text-decoration: none;
  color: #ff368c;
  border-bottom: 1px solid #ff368c;
  border-radius: 10px;
  text-shadow: 1px 1px #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:active {
  color: #000;
  background-color: #ff368c;
}

.container {
  position: relative;
  color: #fff;
}

.hero-image {
  padding: 0.5rem;
  border-radius: 20px;
}

/* Position text in hero image */
.intro-text {
  position: absolute;
  top: 40%;
  left: 20%;
  text-transform: uppercase;
  text-shadow: 1px 1px #ff368c;
}

/* Make columns*/
/* Original code from https://www.w3schools.com/howto/howto_css_two_columns.asp  */
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-lg {
  float: left;
  width: 75%;
}

.column-2 {
  float: left;
  width: 50%;
}

.column-3 {
  float: left;
  width: 33.33%;
}

.column-4 {
  float: left;
  width: 25%;
}

/* Add underline to section headings */
.header-underline {
  width: 10%;
  border: 2px solid #ff368c;
  border-radius: 50%;
  margin: 0 auto;
}

/* About section */
/* Center about section text in blockquote */
.text-wrap {
  text-align: center;
  padding: 50px 0;
  width: 50%;
}

/* Add some space above and below images in about section */
.about-img {
  margin: 20px 10px;
}

/* Location section */
/* Highlight important text */
.highlight {
  text-shadow: 1px 1px #ff368c;
}

/* Add margin to bottom and sides of maps */
.location-map {
  margin: 20px;
  float: left;
  width: 550px;
  height: 400px;
}

/* Contact Form */
.contact-form {
  background-color: #e4ff58;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 30px 0;
  padding: 40px;
  width: 50%;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

/* Increase button size */
.contact-btn {
  font-size: 1.2rem;
  width: 100px;
}

/* Change button colour when hovered over */
.contact-btn:hover {
  background-color: #ff368c;
}

textarea {
  height: 10em;
  width: 20em;
}

/* Footer */
footer {
  font-size: 0.8rem;
  background-color: #e4ff58;
  height: 100px;
}

/* Footer navigation */
.footer-nav a {
  color: #000;
}

.footer-nav a:hover {
  color: #ff368c;
}

.footer-nav li {
  margin-top: 0.5rem;
}

.footer-nav li {
  text-decoration: none;
  list-style-type: none;
}

/* Center Push text to bottom of div */
.footer-wrap {
  text-align: center;
  padding-top: 80px;
}

/* Social links */
.social-links a {
  color: #000;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
}

.social-links a:hover {
  color: #ff368c;
}

.social-links li {
  display: inline;
}

/* Responsive styles */
/* Laptop styles max 1024px */
@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
    letter-spacing: 1px;
  }

  /* Set hero-image max width to width of viewport */
  .hero-image {
    max-width: 100vw;
  }

  /* Resize image so it doesn't cover text  */
  .about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* give each map 50% of available width */
  /* 40% width with 10% padding (5% each side) */
  .column-tablet {
    padding: 5%;
    max-width: 40%;
  }

  /* Maps take up 100% of available space */
  .location-map {
    width: 100%;
    height: 100%;
  }
}

/* Tablet styles max 768px */
@media screen and (max-width: 768px) {
  /* Give each column 50% of available space */
  .column-lg {
    width: 50%;
  }

  .column-4 {
    width: 50%;
  }
}

/* Mobile view styles */
@media screen and (max-width: 320px) {
  /* Reduce intro and navigation font */
  h1 {
    font-size: 1.8rem;
  }

  h1 ~ p {
    font-size: 0.6rem;
  }
  /* Reduce navigation link font to fit screen */
  .nav-link {
    font-size: 0.6rem;
  }

  /* Remove images from about section and maps in mobile view */
  .column-remove {
    display: none;
  }

  /* reduce space between about section text */
  .text-wrap {
    padding: 15px;
  }

  .contact-form {
    margin: 5%;
    width: 90%;
  }

  textarea {
    height: 5em;
    width: 10em;
  }

  /* Adjust footer sizing */
  footer {
    font-size: 0.6rem;
    height: 80px;
  }

  .social-links a {
    margin: 5px;
    padding: 5px;
    font-size: 1.5rem;
  }

  .footer-wrap {
    padding-top: 55px;
  }
}
